<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs')  %>
</head>

<body>
    <%- include('partials/body.ejs') %>
    <h1>What To-Do</h1>
    <div class="container mt-5">
      <form action="/" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="To-Do">
        <input type="submit" value="Add To-Do" class="btn btn-md-primary mx-2">
      </form>
      <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
          <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
          <%= todos.todo %><a href="/deleted/todo/<%= todo._id %>" class="btn btn-danger btn-sm">Delete</a></li>
        <% }) %>
      </ul>
    </div>
</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>

