<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('partials/header.ejs') %></header>

    <section
      class="vh-100 bg-image"
      style="
        background-image: url('/images/todolist1.jpg'); background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="container py-5 d-flex justify-content-center">
          <form action="/users/newTask/<%= singleList._id%>" method="POST" style="padding-top: 50px">
            <label> New task: <input type="text" name="newTaskText" /> </label>

            <button type="submit">Add New Task</button>
          </form>
      </div>
      <div class="container py-5 ml-auto">
          <ul class="list-group" >
            <li class="list-group-item active"><%= singleList.listTitle%></li>
            <% listTasks.forEach(task=>{ %>
            <form
              action="/users/deleteTask/<%= task._id %>/<%= singleList._id %>?_method=DELETE"
              method="POST"
              class="d-inline"
            ><li class="list-group-item"><%= task.task%>
              <button type="submit" class="btn btn-danger float-right
              ">Delete</button>
           </li> 
            </form>
            <% }) %>
          </ul>
      </div>
      <a href="/profile/<%= singleList.userId%>" class="d-flex justify-content-center">return to profile page</a>
    </section>
   
  </body>
</html>
