<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/body.ejs') %>

    <section class="vh-100" style="background-color: #e2d5de">
      <div class="container py-5 h-100">
        <div style="padding-top: 200px">
          <form class="form-inline" action="/users/newList" method="POST">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only"></label>
              <input
                type="text"
                class="form-control"
                id="inputPassword2"
                placeholder="List Name"
                name="newListName"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-2">
              Create New List
            </button>
          </form>
        </div>
        <ul>
          <% userLists.forEach(list=>{ %>
          <li>
            <a href="../list/<%= list._id%>"><%= list.listTitle%></a>
          </li>
          <% }) %>
        </ul>
      </div>
    </section>
  </body>
  <footer><%- include('partials/footer.ejs') %></footer>
</html>
